@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #07377A;
}

.screen {
    background: #FFFFFF;
}

.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageLeft {
    height: 8vh;
    rotate: 180deg;
}

.imageRigth {
    height: 8vh;
}
