@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #07377A;
}


@keyframes animatedTransition {
    from {opacity: 0;}
    to {opacity: 1;}
}

.screen {
    background: #A6F3D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: animatedTransition;
    animation-duration: 0.5s;
}

.homeScreenImg {
    width: 35%;
    padding: 2rem;
}

.textTitle {
    font-size: x-large;
    padding: 0.5rem 0.1rem 0 0;
}

.textSubtitle {
    font-size: 22px;
    font-weight: 500;
    padding: 0.5rem 0 2rem 0;
}

.buttonContainer {
    background: #07377A;
    height: 3rem;
    width: 20rem;
    margin:  0 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size:x-large;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.textLink {
    color: #FFFFFF;
    padding: 15px;
}

@media (max-width: 800px ) {

    .screen {
        text-align: center;
    }

    .homeScreenImg {
        width: 70%;
        padding: 2rem;
    }

    .textTitle {
        font-size: larger;
    }

    .textSubtitle {
        font-size: large;
    }

    .buttonContainer {
        height: 2.5rem;
        width: 70%;
        font-size:large;
    }
}

@media (max-width: 400px ) {

    .screen {
        text-align: center;
    }

    .homeScreenImg {
        width: 90%;
        padding: 2rem;
    }

    .textTitle {
        font-size: large;
    }

    .textSubtitle {
        font-size: medium;
    }
}
