.cardLevel {
    background: #A6F3D6;
    height: 60%;
    width: 50%;
    color: #07377A;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: none;
    border-radius: 10px;
}

.container {
    padding: 20px;
    display: inline-block;
}

.textContainer {
    padding: 0 40px 0 10px;
    display: inline-block;
}

.textContainer h1{
    font-weight: 20px;
    font-size: 2rem;
}

.textContainer p{
    font-size: 1.5rem;
}

.imageFaseFormat{
    width: 70%;
}

.imageArrowFormat{
    width: 40%;
}
